@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}
.main * {
  box-sizing: border-box;
}
.main,
.main input {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  font-family: "ColfaxAI", Helvetica, sans-serif;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
  max-width: 1000px;
  height: 100%;
}
.main .icon {
  width: 34px;
}
.main h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  color: #202123;
  margin: 0 0 1rem;
}
.main form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main input[type="text"] {
  padding: 10px;
  border: 1px solid #10a37f;
  outline-color: #10a37f;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.main ::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
.main p {
  margin: 0;
  text-align: left;
}
.main ul {
  text-align: left;
  margin: 1rem 0;
  padding: 0;
}
.response {
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 1rem;
  border-radius: 5px;
  height: 60vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
}
.human,
.ai {
  border-radius: 20px;
  padding: .5rem 1rem;
  display: inline-block;
  margin-bottom: 1rem;
}
.human {
  background-color: rgb(51, 192, 91);
  text-align: left;
}
.ai {
  background-color: rgb(128, 118, 118);
}
.question {
  text-align: right;
}