@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}
.main * {
  box-sizing: border-box;
}
.main,
.main input {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  font-family: "ColfaxAI", Helvetica, sans-serif;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  width: 95%;
  margin: 0 auto;
  max-width: 1000px;
  height: 100%;
}
.main .icon {
  width: 34px;
}
.main form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main input[type="text"] {
  padding: 10px;
  border: 1px solid #10a37f;
  outline-color: #10a37f;
  border-radius: 5px;
  margin: .5rem 0;
}
.main ::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
.main p {
  margin: 0;
  text-align: left;
}
.main ul {
  text-align: left;
  margin: 1rem 0;
  padding: 0;
}
.button {
  background-color: green;
  padding: 10px;
  border: 0;
  color: #fff;
  font-weight: 600;
  border-radius: 3px;
  margin: 1rem;
}